# settings.py
# .idea
# *.pyc
# __pycache__/
# .DS_Store

# Pyenv-specific ignore
~/.pyenv/
~/.pyenv/venvs/
~/.local/share/pyenv/
**/.pyenv/
**/.pyenv/versions/
**/.pyenv/shims/
**/.pyenv/cache/~/.lsp/.cache/

__pycache__/
venv/
assets/
.venv/   # Include this if your venv is named ".venv"
*.pyc      # Optional: Exclude compiled Python files (if not already covered by __pycache__)
.lsp/